*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
.nav{
  height: 15%;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 0 15px;
}
.leftnav h1{
  color: white;
}
.rightnav ul{
  display: flex;
  gap: 30px;
  flex: 1;
  margin-top: 10px;
  list-style: none;
}
.logo{
  margin-bottom: 15px;
  cursor: pointer;
}
.rightnav ul a{
  text-decoration: none;
  color: white;
}
.createform{
  height: 200px;
  background-color: transparent;
  display: flex;
  justify-content:center ;
  align-items: center;
}
.createbtn{
  height: 40px;
  width: 80px;
  border-style: none;
  color: #fff;
  background-color: black;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
}
.createMyForm{
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 1300px;
  padding-top: 30px;
  align-items: center;
  margin-top: 400px;
  max-height: 500px;
  overflow-y: scroll;
  padding-bottom: 30px;
  box-shadow: 0 0 15px #6b6c6e;
}
.createMyForm::-webkit-scrollbar{
  display: none;
}
.input{
  width: 180px;
  height: 30px;
  border-radius: 12px;
  padding-left: 15px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: none;
}
.goBack{
  height: 40px;
  width: 80px;
  border-style: none;
  color: black;
  background-color: #e6e3e3;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 15px;
  
}
.submitbtn{
  height: 40px;
  width: 80px;
  border-style: none;
  color: #fff;
  background-color: black;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
}
.createMyForm p{
  color: #fff;
  font-size: 15px;
  width: 85%;
  margin-bottom: -5px;
}
.input:focus{
  outline: none;
}
label{
  color: red;
  font-size: 12px;
  width: 85%;
  margin-top: 15px
}
.submitted{
  color: green;
  margin-top: 10px;
}
.notsubmitted{
  color: red;
  margin-top: 10px;
}
.arrinp{
  margin-top: 5px;
  margin-bottom: 8px;
  width: 300px;
  height: 50px;
  padding-left: 15px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.arrinp:focus{
  outline: none;
}
.check{
  margin-top: 5px;
  accent-color: white;
  height: 15px;
  width: 15px;
  cursor: pointer;
}
.arrinpfield{
  width:85%;
  background-color: transparent;
  
}
/* select{
  ;
} */
.deletebutton{
  height: 25px;
  cursor: pointer;
  margin-top: 2px;
  margin-left: 5px;
}
.addbutton{
  font-size: 25px;
  background-color: #d3d3d3;;
  cursor: pointer;
  border-style: none;
  color: black;
  border-radius: 50%;
  height: 20px;
  width: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}
.addbuttondisabled{
  font-size: 25px;
  background-color: #666666;
  cursor: pointer;
  border-style: none;
  color: rgb(61, 61, 61);
  border-radius: 50%;
  height: 20px;
  width: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

.epsswitch-overlay{
  background-color: #fff;
  padding: 10px;
}
.firstrowform{
  width: 95%;
  background-color: #d3d3d3;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  border-radius: 12px;
}
.firstrowform p{
  margin-top: 10px;
  align-items: center;
  margin-left: 15px;
  color: #000
}
.firstrowform select{
  outline:none!important;
  /* -webkit-appearance:none; */
  margin-top: 10px;
  background-color: transparent;
  border-bottom: black 2px solid;
  border-top: none;
  border-left: none;
  border-right: none;
}
.firstrowform input{
  background-color: #fff;
}
.services{
  width: 95%;
  background-color: #666666;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  border-radius: 12px;
}
.optgprs{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  gap: -5px;
  padding: 10px;
  width: 350px;
  border-radius: 12px;
}
.optgprs input{
  width: 60px;
  height: 20px;
  border-radius: 8px;
  border-style: none;
  background-color: #d3d3d3;
}
.arrinpfield{
  display: flex;
  justify-content: space-around;
  height: 35px;
}
.optgprs p{
  margin-top: 8px;
  margin-left: 8px;
  color: black;
}